body {
    scroll-behavior: smooth;
    font-family: "Roboto";
}

.header {
    display: flex;
    background-color: #424245;
    height: 40px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.header-logo {
    width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1%;
}

.header-svg {
  padding-left: 1%;
}

.header-text {
  font-weight: normal;
  color: white;
}

.header-search {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.query {
  width: 90%;
  height: 80%;
  display: flex;
}

.insert-query {
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}

.find-clear {
  width: 10%;
  height: 80%;
  display: flex;
  background: url('./img/search.png');
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  background-size: 30%;
}

.clear-query {
  background: url('./img/close.png');
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  background-size: 30%;
}

.images-go-here {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3%;
  justify-content: center;
}

.gallery-image {
  width: 372px;
  height: 278px;
  padding-top: 0.3%;
  object-fit: cover;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0008;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay.overlay-hidden {
  display: none;
}


.footer {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #424245;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #f0f0f0;
    font-weight: 700;
  }
  
  .footer > a:hover {
    cursor: pointer;
  }