@font-face {
    font-family: 'forumregular';
    src: url('./fonts/forum-regular-webfont.woff2') format('woff2'),
         url('./fonts/forum-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #FFF;
    margin: 0 auto;
}

header {
    width: 1440px;
    height: 90px;
    background: #0C0C0E;
}

h1 {
    color: white;
}
/*Welcome - start*/
.welcome {
    display: flex;
    align-items: center;
    padding: 220px 840px 160px 0px;
    background: url(./img/Welcome.png), lightgray 50% / cover no-repeat;
}

.welcome-sign-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
    padding: 35px 40px;
}

.welcome-text {
    width: 520px;
    flex-shrink: 0;
    height: 150px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Forumregular;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
 /*Welcome end*/
/*About - start*/
.aboutsection {
    width: 1440px;
    height: 837px;
    background: #FFF;
    border: black;
}
/*About - end*/