body {
    display: flex;
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #FFF;
    margin: 0 auto;
}

header {
    width: 1440px;
    height: 90px;
    background: #0C0C0E;
}

h1 {
    color: white;
}
/*Welcome - start*/
.welcome {
    display: flex;
    align-items: center;
    padding: 220px 840px 160px 0px;
    background: url(./img/Welcome.png), lightgray 50% / cover no-repeat;
}

.welcome-sign-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
    padding: 35px 40px;
}

.welcome-text {
    width: 520px;
    flex-shrink: 0;
    height: 150px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Forum";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
 /*Welcome end*/
/*About - start*/
.aboutsection {
    width: 1440px;
    height: 837px;
    background: #FFF;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
}

.about-heading {
    width: 106px;
    height: 40px;
    font-family: "Forum";
    font-style: normal;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
    text-align: center;
    color: #0C0C0E;
    margin-left: 667px;
}

.about-heading-text {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
}

.about-line {
    margin-left: 695px;
    margin-top: 20px;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}

.about-description {
    width: 1440px;
    margin-top: 40px;
    height: 40px;
    color: #000;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    line-height: 40px; /* 200% */
    background-color: red;
}

.about-description-text {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
}

.about-carousel {
    display: flex;
    gap: 25px;
    padding-top: 20px;
}

.carousel-item1 {
    width: 450px;
    height: 560px;
    margin-left: 20px;
    background: url(./img/carousel-image-1.png) no-repeat;
}

.carousel-item2 {
    width: 450px;
    height: 560px;
    background: url(./img/carousel-image-2.png) no-repeat;
}

.carousel-item3 {
    width: 450px;
    height: 560px;
    margin-right: 20px;
    background: url(./img/carousel-image-3.png) no-repeat;
}

.carousel-pagination {
    display: flex;
    margin-top: 35px;
    margin-left: 681px;
}

.carousel-pagination-button.active {
    background-color:#BB945F;
}

.carousel-pagination-button {
    width: 16px;
    height: 16px;
    background-color:#0C0C0E;
    border-radius: 50%;
}

.a-carousel {
    display: flex;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/*About - end*/