html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0 auto;
    background: #8E8E8E;
}

.page-wrapper {
    display: flex;
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

header {
    width: 1440px;
    height: 90px;
    background: #0C0C0E;
    display: flex;
    align-items: center;
}

.header-text {
    width: 294px;
    color: white;
    font-family: "Forum";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    margin-left: 20px;
}

/*Navigation - start*/
.navigation-area {
	margin-left: 454px;
	margin-top: 20px;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
	gap: 30px;
	color: white;
	list-style: none;
	padding-inline-start: 0;
	margin-top: 0;
	margin-bottom: 20px;
}
.navigation-menu-link {
	padding-top: 0;
	color: #FFF;
	font-family: "Inter";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 250% */
}

.nav-links {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.nav-links:hover {
    transition-duration: 250ms;
    transition-delay: 250ms;
    scale: 1.1;
}
/*Navigation - end*/

.profile-logo {
    width: 28px;
    height: 28px;
    margin-left: 40px;
}

/*Welcome - start*/
.welcome {
    display: flex;
    flex-direction: column;
	width: 1440px;
	height: 600px;
    background: url(./img/Welcome.png), lightgray 50% / cover no-repeat;
}

.overlay {
	width: 1440px;
	height: 300px;
	background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome-sign-bg {
    display: flex;
	flex-direction: column;
    justify-content: center;
    background: #0C0C0E;
	position: relative;
	top: -80px;
	height: 220px;
	width: 600px;
	flex-shrink: 0;
	color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Forum";
	line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
	font-style: normal;
}

.welcome-text {
	font-size: 40px;
    font-weight: 400;
	margin-block-start: 0;
	margin-block-end: 0;
	position: relative;
	right: 5px;
}
.welcome-ttbl {
	margin-block-start: 0;
		font-size: 40px;
		margin-block-end: 0;
}
 /*Welcome end*/
/*About - start*/
.about-section {
    width: 1440px;
    height: 837px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-block {

    height: 40px;
    font-family: "Forum";
    font-style: normal;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
    text-align: center;
    color: #0C0C0E;
}

.heading-text {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
}

.heading-line {
    margin-top: 20px;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}

.about-description {
    width: 1440px;
    margin-top: 40px;
    height: 40px;
    color: #000;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    line-height: 40px; /* 200% */
}

.about-description-text {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
}

.about-carousel {
    display: flex;
    gap: 25px;
    padding-top: 20px;
}

.carousel-item {
    width: 450px;
    height: 560px;
}

.carousel-pagination {
    display: flex;
    margin-top: 35px;
}

.carousel-pagination-button.active {
    background-color:#BB945F;
}

.carousel-pagination-button {
    width: 16px;
    height: 16px;
    background-color:#0C0C0E;
    border-radius: 50%;
}

.carousel-pagination-button:hover {
    cursor: pointer;
}

.a-carousel {
    display: flex;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/*About - end*/
/*Favorites - start*/
.favorites-section {
    width: 1440px;
    height: 1439px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites-pick {
	width: 234px;
	height: 24px;
	margin-top: 40px;
	align-self: flex-start;
	margin-left: 20px;
	color: #000;
	text-align: center;
	font-family: "Inter";
	font-style: normal;
	line-height: normal;

}

.favorites-pick-text {
	font-weight: 700;
	font-size: 20px;
	margin-block-start: 0px;
	margin-block-end: 0;
}

.favorites-form {
	display: flex;
	align-self: flex-start;
	margin-left: 15px;
	margin-top: 40px;
	align-items: center;
	gap: 73px;
}

.label-text {
	color: #000;
	font-family: "Inter";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 20px;
	align-content: center;
}

.label-text:hover {
    cursor: pointer;
}

.favorites-checkbox {
	accent-color: rgb(0, 0, 0);
	width: 17px;
	height: 17px;
}

.favorites-checkbox:checked + label {
    font-weight: 700;
}

.favorites-checkbox:hover {
    cursor: pointer;
}
 .checkbox-container {
	 width: 120px;
	 display: flex;
	 align-content: center;
	 align-items: center;
 }

 .checkbox-container:nth-child(3n) {
	 position: relative;
	 left: -1px;
 }

  .checkbox-container:nth-child(4n) {
	margin-left: 8px;
 }

 .season-book-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    position: relative;
    top: -1px;
 }


 .book-card {
    flex-shrink: 0;
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    background: #FFF;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
 }

 .book-card:nth-child(even) {
    margin-left: 260px;
 }

 .book-card:nth-child(1n+5) {
    display: none;
 }
 .staff-picks {
    color: #000;
    font-family: "Forum";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 15px;
    margin-left: 20px;
 }

 .staff-picks-line {
    width: 60px;
    height: 1px;
    background: #BB945F;
    margin-left: 20px;
    position: relative;
    top: -1px;
 }

 .book-name {
    color: #000;
    font-family: "Inter";
    font-style: normal;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
 }

 .book-name-font {
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 15px;
 }
 .book-author {
    color: #000;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    margin-left: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
 }

 .book-author-font {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 700;
    font-size: 15px;
 }

 .book-description {
    width: 357px;
    height: 340px;
    margin-left: 20px;
    color: #000;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
    flex-shrink: 0;
 }
.book-desc-font {
    margin-block-start: 20px;
}
.purchase-button {
    display: flex;
    width: 75px;
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #0C0C0E;
    text-align: center;
    font-family: "Inter";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    flex-shrink: 0;
    background: #FFF;
}

.purchase-button:hover {
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;
}

.purchase-button:disabled {
    border: 1px solid #BB945F;
    background: #FFF;
    color:#BB945F;
}

.book-cover {
	width: 200px;
	height: 300px;
	flex-shrink:0;
	position: relative;
	top: -284px;
	left: 388px;
}
/*Favorites - end*/
/*Coffee shop - start*/
.coffee-shop {
    width: 1440px;
    height: 841px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-description {
    width: 1400px;
    color: #000;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    margin-top: 20px;
}

.menu-signs-wrapper {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.menu-sign {
    color: #BB945F;
    font-family: "Forum";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-block-start: 0;
    margin-block-end: 0;
}

.menu-wrapper {
    display: flex;
    gap: 480px;
    padding-left: 20px;
    padding-right: 20px;
}
.drinks-menu-item {
    color: #000;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 40px;
    margin-left: 15px;
    width: 200px;
}

.menu-drinks {
    display: flex;
    width: 470px;
    height: 520px;
}

.menu-item-price-lines {
    display: flex;
    flex-direction: column;

}

.menu-line {
    width: 100px;
    height: 40px;
    margin-left: 57px;
    margin-right: 60px;
    margin-top: 40px;
    display: block;
}

.line-item-price {
    background: #BB945F;
    height: 1px;
    margin-top: 19px;
    margin-bottom: 20px;
}

.menu-prices {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: "Forum";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 20px;
}

.menu-desserts {
    width: 482px;
    height: 520px;
    display: flex;
}

.desserts-menu-item {
    color: #000;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 40px;
    width: 212px;
    margin-left: 6px;
    text-align: right;
}
/*Coffee shop - end*/
/*Contacts - start*/
.contacts {
    width: 1440px;
    height: 575px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 198px;
    padding: 40px 20px;
}

.contacts-map {
    width: 696px;
    height: 414px;
}

.contacts-phones {
    display: flex;
    flex-direction: column;
}

.mailphone {
    text-decoration: none;
    color: inherit;
}

.contacts-font-bold {
    color: #000;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2.3px;
    text-transform: capitalize;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: left;
}

.contacts-font-normal {
    color: #000;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: left;
}

.phones-wrapper {
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*Contacts - end*/
/*Card - start*/
.digital-library-card {
    width: 1440px;
    height: 614px;
    display: flex;
    flex-direction: column;
    background: #FFF;
    align-items: center;
}

.card-wrapper {
    display: flex;
    gap: 344px;
}

.find-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-your-card {
    color: #000;
    font-family: "Inter";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 40px;
    margin-left: -3px;
}

.card-out {
    width: 594px;
    height: 382px;
    flex-shrink: 0;
    border: 3px solid #BB945F;
    background: #FFF;
    margin-top: 29px;
    display: flex;
    flex-direction: column;

}

.input-bg {
    width: 560px;
    height: 272px;
    background: #BB945F; 
    margin-top: 20px;
    margin-left: 17px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.card-title {
    color: #000;
    font-family: "Forum";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    margin-block-start: 0;
    margin-block-end: 0;  
    margin-top: 18px;
    margin-left: 18px;
}

.reader-info {
    width: 520px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-left: 19px;
    margin-right: 20px;
    padding: 0;
    border: 1px solid #BB945F;
    margin-top: 20px;
}

#reader-card {
    margin-top: 23px;
}

.reader-info::placeholder {
    color: #8E8E8E;
    font-family: "Forum";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    padding-left: 19px;
}

input:invalid {
    border: red solid 1px;
}
.check-card {
    display: inline-flex;
    padding: 10px 40px;
    align-items: flex-end;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    align-self: center;
    margin-top: 19px;
    color: #0C0C0E;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    background: #FFF;
}
.check-card:hover {
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;
}

.get-card {
    display: flex;
    flex-direction: column;
    align-items: end;

}
.get-reader-card {
    color: #000;
    text-align: center;
    font-family: "Forum";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    width: 221px;
    height: 33px;
    margin-top: 40px;
}

.get-card-info {
    width: 456px;
    color: #000;
    text-align: right;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
    margin-top: 35px;
}

.sign-login-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 35px;
}

.login-signup-button {
    display: flex;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: "Inter";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background: #FFF;
}

.login-signup-button:hover {
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F; 
}

/*Card - end*/
/*Footer - start*/
footer {
    width: 1440px;
    height: 250px;
    background: #0C0C0E;
    display: flex;
    flex-direction: column;
}

.addr-sm-sched-wrapper {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.addr-sm-wrapper {
    display: flex;
    flex-direction: column;
}

.post-address {
    width: 229px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    margin-left: 20px;
}

.social-media {
    display: flex;
    width: 102px;
    height: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    margin-left: 20px;
    margin-top: 19px;
    list-style: none;
	padding-inline-start: 0;
}

.geo-address-url {
    text-decoration: none;
    color: inherit;
}

.geo-address-url:hover {
    cursor: pointer;
}

.schedule-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.weekday-schedule {
    width: 149px;
    height: 40px;
    color: #FFF;
    text-align: right;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}

.weekend-schedule {
    color: #FFF;
    text-align: right;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    margin-top: 10px;
}

.footer-line {
    width: 1400px;
    height: 1px;
    background: #FFF;
    margin-top: 20px;
    margin-left: 19px;
}

.year-course-github-wrapper {
    display: flex;
    margin-top: 44px;
    align-items: baseline;
}

.course-year {
    width: 56px;
    height: 20px;
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: -1px;
}

.course-name {
    width: 300px;
    height: 22px;
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 1.9px;
    display: flex;
    flex-shrink: 0;
    margin-left: 495px;
}

.github-profile {
    width: 113px;
    height: 22px;
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 200% */
    letter-spacing: 2px;
    margin-left: 448px;
}

.github-profile > a {
    color: inherit;
    text-decoration: none;
}
/*Footer - end*/