html {
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #FFF;
    margin: 0 auto;
}

header {
    width: 1440px;
    height: 90px;
    background: #0C0C0E;
    display: flex;
    align-items: center;
}

.header-text {
    width: 294px;
    color: white;
    font-family: "Forum";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    margin-left: 20px;
}

/*Navigation - start*/
.navigation-area {
	margin-left: 454px;
	margin-top: 20px;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
	gap: 30px;
	color: white;
	list-style: none;
	padding-inline-start: 0;
	margin-top: 0;
	margin-bottom: 20px;
}
.navigation-menu-link {
	padding-top: 0;
	color: #FFF;
	font-family: "Inter";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 250% */
}

.nav-links {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.nav-links:hover {
    transition-duration: 250ms;
    transition-delay: 250ms;
    scale: 1.1;
}
/*Navigation - end*/

.profile-logo {
    width: 28px;
    height: 28px;
    margin-left: 40px;
}

/*Welcome - start*/
.welcome {
    display: flex;
    flex-direction: column;
	width: 1440px;
	height: 600px;
    background: url(./img/Welcome.png), lightgray 50% / cover no-repeat;
}

.overlay {
	width: 1440px;
	height: 300px;
	background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome-sign-bg {
    display: flex;
	flex-direction: column;
    justify-content: center;
    background: #0C0C0E;
	position: relative;
	top: -80px;
	height: 220px;
	width: 600px;
	flex-shrink: 0;
	color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Forum";
	line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
	font-style: normal;
}

.welcome-text {
	font-size: 40px;
    font-weight: 400;
	margin-block-start: 0;
	margin-block-end: 0;
	position: relative;
	right: 5px;
}
.welcome-ttbl {
	margin-block-start: 0;
		font-size: 40px;
		margin-block-end: 0;
}
 /*Welcome end*/
/*About - start*/
.about-section {
    width: 1440px;
    height: 837px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-block {

    height: 40px;
    font-family: "Forum";
    font-style: normal;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
    text-align: center;
    color: #0C0C0E;
}

.heading-text {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
}

.heading-line {
    margin-top: 20px;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}

.about-description {
    width: 1440px;
    margin-top: 40px;
    height: 40px;
    color: #000;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    line-height: 40px; /* 200% */
}

.about-description-text {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
}

.about-carousel {
    display: flex;
    gap: 25px;
    padding-top: 20px;
}

.carousel-item1 {
    width: 450px;
    height: 560px;
    margin-left: 20px;
    background: url(./img/carousel-image-1.png) no-repeat;
}

.carousel-item2 {
    width: 450px;
    height: 560px;
    background: url(./img/carousel-image-2.png) no-repeat;
}

.carousel-item3 {
    width: 450px;
    height: 560px;
    margin-right: 20px;
    background: url(./img/carousel-image-3.png) no-repeat;
}

.carousel-pagination {
    display: flex;
    margin-top: 35px;
}

.carousel-pagination-button.active {
    background-color:#BB945F;
}

.carousel-pagination-button {
    width: 16px;
    height: 16px;
    background-color:#0C0C0E;
    border-radius: 50%;
}

.a-carousel {
    display: flex;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/*About - end*/
/*Favorites - start*/
.favorites-section {
    width: 1440px;
    height: 1439px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites-pick {
	width: 234px;
	height: 24px;
	margin-top: 40px;
	align-self: flex-start;
	margin-left: 20px;
	color: #000;
	text-align: center;
	font-family: "Inter";
	font-style: normal;
	line-height: normal;

}

.favorites-pick-text {
	font-weight: 700;
	font-size: 20px;
	margin-block-start: 0px;
	margin-block-end: 0;
}

.favorites-form {
	display: flex;
	align-self: flex-start;
	margin-left: 15px;
	margin-top: 40px;
	align-items: center;
	gap: 73px;
}

.label-text {
	color: #000;
	font-family: "Inter";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 20px;
	align-content: center;
}

.label-text.active {
	font-weight: 700;
}

.favorites-checkbox {
	accent-color: rgb(0, 0, 0);
	width: 17px;
	height: 17px;
}
 .checkbox-container {
	 width: 120px;
	 display: flex;
	 align-content: center;
	 align-items: center;
 }

 .checkbox-container:nth-child(3n) {
	 position: relative;
	 left: -1px;
 }

  .checkbox-container:nth-child(4n) {
	margin-left: 8px;
 }

 .season-book-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    position: relative;
    top: -1px;
 }

 .book-card {
    flex-shrink: 0;
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    background: #FFF;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
 }

 .book-card:nth-child(even) {
    margin-left: 260px;
 }

 .staff-picks {
    color: #000;
    font-family: "Forum";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 15px;
    margin-left: 20px;
 }

 .staff-picks-line {
    width: 60px;
    height: 1px;
    background: #BB945F;
    margin-left: 20px;
    position: relative;
    top: -1px;
 }

 .book-name {
    color: #000;
    font-family: "Inter";
    font-style: normal;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
 }

 .book-name-font {
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 15px;
 }
 .book-author {
    color: #000;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    margin-left: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
 }

 .book-author-font {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 700;
    font-size: 15px;
 }

 .book-description {
    width: 355px;
    height: 340px;
    margin-left: 20px;
    color: #000;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
 }
.book-desc-font {
    margin-block-start: 20px;
}
/*Favorites - end*/