@font-face {
    font-family: 'San Francisco';
    src: url(./fonts/SFPRODISPLAYREGULAR.woff2) format(woff2);
    font-weight: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url(./fonts/SFPRODISPLAYBOLD.woff2) format(woff2);
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
    background-color: #949494;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10%;
}

.outer {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
}

.player-top {
    display: flex;
    width: 100%;
    height: 65%;
    background-color: #949494;
}

.track-cover {
    display: flex;
    width: 30%;
    background-color: #c9c9ca;
    justify-content: center;
    align-items: center;
    border-radius: 6px 0px 0px 0px;
}

.cover {
    width: 87%;
    height: 80%;
    background: url('img/covers/Track1.jpg') no-repeat;
    background-size: contain;
    border-radius: 5%;
}

.track-name-author {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #c9c9ca;
    justify-content: center;
    border-radius: 0px 6px 0px 0px;
    font-family: 'San Francisco';
    letter-spacing: 1.2px;

}

.track-name {
    display: flex;
    font-weight: 700;
}

.track-author {
    display: flex;
    font-weight: normal;
}

.player-mid {
    width: 100%;
    height: 8%;
    background-color: #c9c9ca;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'San Francisco';
    letter-spacing: 0.6px;
    font-weight: normal;
    font-size: 13px;
}

.duration-bar {
    width: 80%;
    height: 25%;
    background-color: black;
    display: flex;
    cursor: pointer;
}

.track-current-time {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.progr {
    display: flex;
    height: 100%;
    flex-basis: 0%;
    background-color: #949494;
    cursor: pointer;
}

.track-duration {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.player-bottom {
    width: 100%;
    height: 27%;
    background-color: #c9c9ca;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 6px 6px;
}

.track-prev {
    display: flex;
    width: 5%;
    height: 40%;
    background: url('img/ico/track-backward.png') no-repeat;
    background-size: contain;
    cursor: pointer;
}

.track-prev:active {
    transform: scale(0.9);
    transition: all 0.3s ease;
}

.play-pause {
    display: flex;
    width: 7%;
    height: 55%;
    background: url('img/ico/track-play.png') no-repeat;
    background-size: contain;
    cursor:pointer;
}

.play-pause:active {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.pause {
    background: url('img/ico/track-pause.png') no-repeat;
    background-size: contain;
}

.track-next {
    display: flex;
    width: 5%;
    height: 40%;
    background: url('img/ico/track-forward.png') no-repeat;
    background-size: contain;
    cursor: pointer;
}

.track-next:active {
    transform: scale(0.9);
    transition: all 0.3s ease;
}

.footer {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #424245;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #F0F0F0;
    font-weight: 700;
}

.footer > a:hover {
    cursor: pointer;
}
